@charset "utf-8";
/* CSS Document */
header,nav,section,article,footer,figure{
	display:block;
}

.sociales{
	width:180px;
	display:block;
	margin:0 auto;
	padding:0;
	list-style:none;
	}
	.sociales li a{
	width:38px;
	height:38px;
	display:block;
	float:left;
	margin-right:6px;
	margin-top: 30px;
	}

	body{

background-image: url(../data0/images/img_1.jpg)
    /*== sintaxis para imagen de fondo  ==*/ 

	}

	.jumbotron{

color: transparent ; 

	}
